@{
  Layout ="_Layout";
}
<div class="container">
  <h1>This contact has new been added to your address book!</h1>

  <ul>
    <li>@Model.GetName()</li>
    <li>@Model.GetAddress()</li>
    <li>@Model.GetPhone()</li>
  </ul>

  <button type='submit' class='btn'><a href="/">View Address Book</a></button>

  <button type='submit' class='btn'><a href="/NewContact">Add another contact</a></button>
</div>
