<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Add Confirmation</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body>
    <h1>This contact has new been added to your address book!</h1>

    <button type='submit' class='btn'><a href="/">View Address Book</a></button>

  </body>
</html>
