@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Contact Details for @Model.GetName():</h1>
  <ul style="list-style:none;"
    <li><strong>Address: </strong>@Model.GetAddress()</li>
    <li><strong>Phone Number: </strong>@Model.GetPhone()</li>
  <ul>
<br>
</div>
<div class="container">
  <button type='submit' class='btn'><a href="/">View Address Book</a></button>
  <br>
  <br>
  <button type='submit' class='btn'><a href="/NewContact">Add another contact</a></button>
</div>
