@{
  Layout = "_Layout";
}

<div class ="container">
  <h1>Your address book is now clear:</h1>
  @* <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul> *@

  <button type='submit' class='btn'><a href="/">Home</a></button>
</div>
