@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Here are your contacts:</h1>
  @if (@Model.Count == 0)
  {
    <h3>You currently have no contacts added</h3>
  }
  <ul>
    @foreach(var userInput in Model)
    {
      <li><strong><a href='/contact/@userInput.GetId()'>@userInput.GetName()</a></strong></li>
    }
  </ul>
  <br>
  <form action="/DeleteConfirm" method="post">
    <button type='submit' class='btn'>Clear Address Book</a></button>
  </form>
<br>
  <button type='submit' class='btn'><a href="/NewContact">Add a new contact</a></button>
</div>
