@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Here are your contacts:</h1>
  <ul>
    @foreach(var userInput in Model)
    {
      <li>@userInput.GetName()</li>
    }
  </ul>
  <form action="/DeleteConfirm" method="post">
    <button type='submit' class='btn'>Clear Address Book</button>
  </form>

  <button type='submit' class='btn'><a href="/NewContact">Click here to add a new contact!</button>
</div>
