@{
  Layout = "_Layout";
}
@Html.Partial("Index")

<div class="container">
  <h1>Here are your contacts:</h1>
  <ul>
    <li>@Model.GetName()</li>
    <li>@Model.GetAddress()</li>
    <li>@Model.GetPhone()</li>
  </ul>

  <button type='submit' class='btn'><a href="/DeleteConfirm">Clear Address Book</a></button>

  <button type='submit' class='btn'><a href="/NewContact">Click here to add a new contact!</a></button>
</div>
