@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Fill out the form to add a new contact to your address book</h1>
  
  <form action="/AddConfirm" method="post">

    <div class='form-group'>
      <label for='name'>Name</label>
      <input id='name' name='name' class='form-control' type='text'>
    </div>

    <div class='form-group'>
      <label for='address'>Address</label>
      <input id='address' name='address' class='form-control' type='text'>
    </div>

    <div class='form-group'>
      <label for='phone'>Phone Number</label>
      <input id='phone' name='phone' class='form-control' type='text'>
    </div>

    <button type='submit' class='btn'><a href="/addConfirm">Add Contact!</a></button>

  </form>

  <button type='submit' class='btn'><a href="/">View Address Book</a></button>
</div>
